@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide_in_from_left {
    from {
        transform: translateX(-1000px)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes slide_in_from_right {
    from {
        transform: translateX(1000px)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes slide_in_from_bottom {
    from {
        transform: translateY(1000px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes slide_in_from_top {
    from {
        transform: translateY(-1000px)
    }
    to {
        transform: translateY(0)
    }
}

.animation-slide-from-left {
    animation-name: slide_in_from_left;
}

.animation-slide-from-top {
    animation-name: slide_in_from_top;
}

.animation-slide-from-bottom {
    animation-name: slide_in_from_bottom;
}

.animation-slide-from-right {
    animation-name: slide_in_from_right;
}

.animation-fade-in {
    animation-name: fade_in;
}

.animation-fade-out {
    animation-name: fade_out;
}