nav div ul li:hover {
    cursor: pointer;
    background: rgb(210, 210, 210)
}

.carousel-caption {
    position: absolute;
    right: 5%;
    bottom: 20px;
    left: 5%;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
    background-color: rgba(80, 80, 80, 0.4);
}